{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="">
      <div class="box-element product">
        <h6> <strong>Product</strong> </h6>
        <button type="button" name="button" class="btn btn-outline-secondary add-btn">Add to cart</button>
        <a href="#" class="btn btn-outline-success">View</a>
        <h4 style="display: inline-block; float: right">$20</h4>
      </div>
    </div>
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="">
      <div class="box-element product">
        <h6> <strong>Product</strong> </h6>
        <button type="button" name="button" class="btn btn-outline-secondary add-btn">Add to cart</button>
        <a href="#" class="btn btn-outline-success">View</a>
        <h4 style="display: inline-block; float: right">$20</h4>
      </div>
    </div>
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/placeholder.png' %}" alt="">
      <div class="box-element product">
        <h6> <strong>Product</strong> </h6>
        <button type="button" name="button" class="btn btn-outline-secondary add-btn">Add to cart</button>
        <a href="#" class="btn btn-outline-success">View</a>
        <h4 style="display: inline-block; float: right">$20</h4>
      </div>
    </div>
  </div>
{% endblock content %}
