{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row">
    {% for product in products %}
    <div class="col-lg-4">
      <img class="thumbnail" src="{{ product.imageURL }}" alt="">
      <div class="box-element product">
        <h6><strong>{{ product.name }}</strong> </h6>
        <button type="button" name="button" class="btn btn-outline-secondary add-btn">Add to cart</button>
        <a href="#" class="btn btn-outline-success">View</a>
        <h4 style="display: inline-block; float: right">${{ product.price | floatformat:2 }}</h4>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
